<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="hero__title">Explore a <span>World</span> of Cinematic Wonders </h1>
        <div class="hero__text">
          <p>Our database not only includes blockbusters but also independent films, documentary features, and works
            from talented directors worldwide. </p>
        </div>
        <div class="hero__buttons">
          <a href="" class="hero__button-register btn1">REGISTER NOW</a>
          <a href="" class="hero__button-about btn2">About us</a>
        </div>
      </div>
      <div class="hero__image">
        <img src="img/images/hero.png" alt="" width="416" height="416">
        <div class="hero__image-label label-name">
          <div class="hero__image-label-inner">MovieHub</div>
        </div>
        <div class="hero__image-label label-rating">
          <div class="hero__image-label-inner">
            <span>4.8</span>
            <span>⭐</span>
          </div>
        </div>
        <div class="hero__image-label label-count">
          <div class="hero__image-label-inner">18K</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="afisha">
  <div class="container">
    <h2 class="afisha__title">Discover a <span>Universe</span> of Cinematic Marvels</h2>
    <div class="afisha__inner">
      <div class="afisha__sidebar">
        <div class="afisha__sidebar-search">
          <form class="afisha-search js-search-form" role="search" method="get" id="searchform" action="">
            <input class="afisha-search__input input-reset" type="text" autocomplete="off" value="" name="s" id="s"
              placeholder="Search by name">
            <button class="afisha-search__submit btn-reset" type="submit" id="searchsubmit">
              <img src="img/icons/akar-icons_search.png" alt="" width="24" height="24">
            </button>
          </form>
        </div>
        <div class="afisha-filter">
          <div class="afisha-filter__name">FILTER:</div>
          <div class="afisha-filter__options">
            <div class="afisha-filter__option">
              <label for="genre">Genre:</label>
              <select id="genre" name="genre">
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
              </select>
            </div>
            <div class="afisha-filter__option">
              <label>Date from:</label>
              <select name="date-from">
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
              </select>
              <span>to</span>
              <select name="date-to">
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
              </select>
            </div>

          </div>
          <div class="afisha-filter__apply">
            <button class="btn1" type="submit">APPLY</button>
          </div>
        </div>
      </div>
      <div class="afisha__content">
        <div class="afisha__option">
          <label for="sort">Sort by:</label>
          <select id="sort" name="sort">
            <option value="rating">Rating</option>
            <option value="date">Date</option>
            <option value="title">Title</option>
          </select>
        </div>

        <div class="afisha__items">
          <div class="afisha__item">
            <div class="afisha__item-poster">
              <img src="img/images/image-preview1.jpg" alt="" height="520">
              <div class="afisha__item-rating">
                <div class="afisha__item-rating-inner">
                  <span>4.8</span>
                  <span>⭐</span>
                </div>
              </div>
            </div>
            <div class="afisha__item-content">
              <h3 class="afisha__item-title">john week 4</h3>
              <a href="#" class="afisha__item-more btn3">Read more</a>
            </div>
          </div>
          <div class="afisha__item">
            <div class="afisha__item-poster">
              <img src="img/images/image-preview2.jpg" alt="" height="520">
              <div class="afisha__item-rating">
                <div class="afisha__item-rating-inner">
                  <span>4.8</span>
                  <span>⭐</span>
                </div>
              </div>
            </div>
            <div class="afisha__item-content">
              <h3 class="afisha__item-title">A taxi Driver</h3>
              <a href="#" class="afisha__item-more btn3">Read more</a>
            </div>
          </div>
        </div>
        <button class="afisha__load-more btn1">Load more</button>
      </div>
    </div>
  </div>
</section>